In [155]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [156]:
df = pd.read_csv('dataset.csv')
df.head()

,Date,Block,IUCR,Primary Type,Description,Location Description,Latitude,Longitude
0,09-05-2015 13:00,025XX W CERMAK RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,41.851989,-87.689219
1,09-05-2015 13:30,007XX N LEAMINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,41.893870,-87.754341
2,09-04-2015 22:30,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,41.713032,-87.536488
3,09-04-2015 15:00,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,41.713032,-87.536488
4,09-03-2015 21:00,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,41.713128,-87.536487

In [157]:
mean1=df['Latitude'].mean()
mean2=df['Longitude'].mean()

In [158]:
df['Latitude'].fillna(value=mean1, inplace=True)
df['Longitude'].fillna(value=mean2, inplace=True)

In [159]:
dummies = pd.get_dummies(df['Primary Type'])
df = pd.concat([df,dummies],axis='columns')
df.head()

,Date,Block,IUCR,Primary Type,Description,Location Description,Latitude,Longitude,BURGLARY,CRIMINAL DAMAGE,DECEPTIVE PRACTICE,NARCOTICS,THEFT
0,09-05-2015 13:00,025XX W CERMAK RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,41.851989,-87.689219,0,0,0,0,1
1,09-05-2015 13:30,007XX N LEAMINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,41.893870,-87.754341,0,1,0,0,0
2,09-04-2015 22:30,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,41.713032,-87.536488,0,1,0,0,0
3,09-04-2015 15:00,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,41.713032,-87.536488,0,1,0,0,0
4,09-03-2015 21:00,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,41.713128,-87.536487,0,1,0,0,0

In [160]:
le = LabelEncoder()

In [161]:
dfle = df
dfle['Location Description'] = le.fit_transform(dfle['Location Description'])
dfle.head()

,Date,Block,IUCR,Primary Type,Description,Location Description,Latitude,Longitude,BURGLARY,CRIMINAL DAMAGE,DECEPTIVE PRACTICE,NARCOTICS,THEFT
0,09-05-2015 13:00,025XX W CERMAK RD,860,THEFT,RETAIL THEFT,69,41.851989,-87.689219,0,0,0,0,1
1,09-05-2015 13:30,007XX N LEAMINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,121,41.893870,-87.754341,0,1,0,0,0
2,09-04-2015 22:30,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,121,41.713032,-87.536488,0,1,0,0,0
3,09-04-2015 15:00,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,121,41.713032,-87.536488,0,1,0,0,0
4,09-03-2015 21:00,100XX S AVENUE L,1320,CRIMINAL DAMAGE,TO VEHICLE,121,41.713128,-87.536487,0,1,0,0,0

In [162]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Date'] = pd.to_datetime(df['Date'], format = '%m/%d/%Y %H:%M:%S %p')

In [163]:
column_1 = df.iloc[:,0]

db=pd.DataFrame({
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofweek": column_1.dt.dayofweek,
             })

In [164]:
df=pd.concat([db,df],axis=1)
df.drop(['Date','Block','Primary Type','Block'],axis=1,inplace = True)
df.dropna(inplace=True)

In [165]:
df.head()

,day,hour,dayofweek,IUCR,Description,Location Description,Latitude,Longitude,BURGLARY,CRIMINAL DAMAGE,DECEPTIVE PRACTICE,NARCOTICS,THEFT
0,5,13,5,860,RETAIL THEFT,69,41.851989,-87.689219,0,0,0,0,1
1,5,13,5,1320,TO VEHICLE,121,41.893870,-87.754341,0,1,0,0,0
2,4,22,4,1320,TO VEHICLE,121,41.713032,-87.536488,0,1,0,0,0
3,4,15,4,1320,TO VEHICLE,121,41.713032,-87.536488,0,1,0,0,0
4,3,21,3,1320,TO VEHICLE,121,41.713128,-87.536487,0,1,0,0,0

In [166]:
df.to_csv('Final_Dataset.csv')